@import "../../../variables.scss";

.container {
	
	.btnPrimary {
		background-color: red;
	}

	button.btnSecondary {
		background-color: red;
	}

	padding-top: 0.5rem;
	padding-bottom: 1rem;
	p {
		color: $gray-2;
		font-weight: normal;
		padding-bottom: 0rem;
 	}


 h2 {
	 padding-bottom: 0;
 }
}

.imageContainer {
	img {
		width: 100%;
		filter: drop-shadow(6px 3px 3px rgba(0, 0, 0, 0.2));
	}
}




.titleP {
	margin-top: 1rem;
}