$dark-blue: rgb(5,43,59);
$darker-blue: rgb(17,15,36);
$white: #ffffff;
$white-1: #f5f5f5;
$white-2: #bfbfbf;
$gray-1: #787578;
$gray-2: #333333;
$healthy-red: #f7052e;
$healthy-blue: #009cf3;
$healthy-green: #00d41c;
$healthy-blue-2: #0790da;
$appointment-1-p: #45AAF2;
$appointment-1-sec: #C1F5FF;
$appointment-2-p: #A29BFE;
$appointment-2-sec: #EAE5FF;