@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import "./variables.scss";
@import "./presentation/styling/overrides.scss";

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

body {
	background-color: $white-1;
  margin: 0;
}

p {
  color: $gray-2;
}